// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

body {
    background-image: url("../assets/BG.png");
    background-size: 100% 100%;
}

.masthead {
    padding-top: 6%;
}

.headline {
    color: #171615;
    text-shadow: -1px 0px 6px #fff;
    font-family: initial;
    text-align: -webkit-center;
}

.part-1 {
    font-size: 2rem;
    font-weight: bolder;
}

.part-2 {
    font-size: 2rem;
    font-weight: bolder;
}

.sub-headline {
    font-size: 42px;
    margin-top: -20px;
    font-weight: 900;
    text-shadow: -5px -3px 0px #000;
    font-family: auto;
}

.sub-headline-1 {
    font-size: 14px;
    text-shadow: -1px 1px 3px black;
    color:#110303 !important;
}

.sub-headline-2 {
    font-size: 14px;
    text-shadow: -1px 1px 3px black;
    color: #110303 !important;
}

.pindutin {
    margin-top: 96px;
}